<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
  <a class='navbar-brand' routerLink=''>App Angular</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#menuBar' aria-controls='menuBar' aria-expanded='false'
    aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='menuBar'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <a class='nav-link' routerLink=''>Inicio</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' routerLink='clientes'>Clientes</a>
      </li>

      <li class='nav-item'>
        <a class='nav-link' routerLink='proveedores'>Proveedores</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown_almacen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Almacén</a>
        <div class="dropdown-menu" aria-labelledby="dropdown_almacen">
          <a class="dropdown-item" routerLink="almacen">Listado</a>
          <a class="dropdown-item" routerLink="almacen/entradas">Entradas</a>
          <a class="dropdown-item" routerLink="almacen/salidas">Salidas</a>
        </div>
      </li>

    </ul>
  </div>
</nav>

